# Sample environment values for Appium + WebdriverIO
APP_PATH=./apps/android/SwagLabs.apk
PLATFORM_NAME=Android
PLATFORM_VERSION=13.0
DEVICE_NAME=Android Emulator
AUTOMATION_NAME=UiAutomator2
APP_PACKAGE=com.swaglabsmobileapp
APP_ACTIVITY=.MainActivity
APPIUM_HOST=0.0.0.0
APPIUM_PORT=4723
